{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Editar conta a pagar
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = route('bill-receives.update',{'id': bill.id}) %}
                    {% set submitIcon = 'pencil' %}
                    {% include 'bill-receives/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}